body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Arial, sans-serif;
    background: rgb(136, 95, 95);
    margin: 5;  
    display: grid;
    align-content: center;
    min-height: 100vh;
 }

 h1 {
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    color: rgb(0, 0, 0);
    max-width: 40em;
    margin: 0 auto;
}

ul {
    margin: 0 auto;
    padding: 0;
}

a {
    color: white;
}