/* GLOBAL RESET */
* { box-sizing: border-box; }
body { margin: 0; }

/* GLOBAL COLORS */
body { color: rgba(0, 0, 0, 0.8); }
a { color: rgba(0, 102, 204, 1); }
a:hover { color: rgba(0, 51, 153, 1); }

/* GLOBAL TYPOGRAPHY */
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 88.75%; /* 14px */
    line-height: 1.4;
  }
  /* HEADER */
header {
  background-color: rgb(133, 204, 0);
  color: rgba(255, 255, 255, 0.8); 
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

header a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

header a:hover {
  color: rgba(255, 255, 255, 1);
}
/* SITE ID */
.site-id h1 {
  margin: 0;
}
/* SITE NAV */
.site-nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav  a {
    display: block;
    padding: 1em;
}
